.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  margin: 25px 0px;
  padding: 20px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--font-color-gray);
}

.recommended-friends span {
  display: block;
  text-align: center;
  margin: 70px 0px;
  /* 기존 margin 100px*/
  font-size: 18px;
  color: var(--font-color-gray);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--font-color-gray);
  margin-bottom: 25px;
}
.open-chat__header h4 {
  font-weight: 600;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  margin-bottom: 7px;
  color: var(--font-color-gray);
}

.open-post__member {
  display: flex;
  align-items: center;
}

.open-post__member img {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  color: var(--font-color-gray);
  font-size: 14px;
}

.open-post__member .divider {
  width: 1px;
  height: 15px;
  background-color: var(--font-color-gray);
  margin: 0 5px;
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartbeat {
  0% {
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartbeat 1s linear infinite;
}
